@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV ITEM ************/

.nav_item::after {
    content: '';
    position: absolute;
    background: #253469;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateX(-101%);
    transition: transform 0.15s ease;
}

.nav_item:hover::after {
    transform: translateX(0);
}

/* SELECT ************/

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
}

/* CHECKBOX ************/

.checkbox {
    box-shadow: 0 0 0 1.5px var(--color-gray-dark);
}
  
.checkbox:hover,
.checkbox:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1.5px var(--color-primary);
}
  
.checkbox:hover .checkbox__icon,
.checkbox:focus .checkbox__icon {
    color: var(--color-primary);
}
  
.checkbox [data-state='checked'] {
    display: flex;
}

/* BORDERED TEXT *******/

.bordered_text {
    -webkit-text-stroke: 1px black;
}

/* IMG BEZ SELEKTOVANJA */

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

/* BUTTON ANIMATION *****/

.slider-btn {
    /* height: 4rem; */
    position: relative;
    background: transparent;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border: 1px solid;
    overflow: hidden;
}
    
.slider-btn svg {
    height: 4rem;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
}
.slider-btn rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
    
.slider-btn:hover {
    background: rgba(red, 0);
    font-weight: 900;
    letter-spacing: 1px;
}
  
.slider-btn:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}